:root {
  --grid-b-color: #7f8fa6;
  --grid-b-pix: 3px;
}

* {
  color: #f5f6fa;
  font-size: 20px;
}

#title {
  font-weight: bold;
  font-size: 50px;
}

#main-sec {
  background-color: #273c75;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#main_div {
  display: flex;
  justify-content: center;
}

#main_div > div {
  margin: 10px;
  width: 150px;
  height: 50px;
  background-color: #192a56;
  border: 1px solid #fbc531;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#main_div > button {
  margin: 10px;
  width: 150px;
  height: 50px;
  /* border: 1px solid #e1b12c; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 500;
}

#btnReset {
  background-color: #e84118;
}

#btnReset:hover {
  background-color: #c23616;
}

#btnNext {
  background-color: #4cd137;
  color: #000000;
}

#btnNext:hover {
  background-color: #44bd32;
}

#grid-sec {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  /* border: 1px solid red; */
  /* column-gap: 50px; */
  /* row-gap: 10px; */
  width: 500px;
  height: 500px;
}

.col {
  /* background-color: #e1b12c; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

i{
  position: absolute;
}

.col:nth-child(1) {
  border-right: var(--grid-b-pix) solid var(--grid-b-color);
  border-bottom: var(--grid-b-pix) solid var(--grid-b-color);
}

.col:nth-child(2) {
  border-left: var(--grid-b-pix) solid var(--grid-b-color);
  border-right: var(--grid-b-pix) solid var(--grid-b-color);
  border-bottom: var(--grid-b-pix) solid var(--grid-b-color);
}

.col:nth-child(3) {
  border-left: var(--grid-b-pix) solid var(--grid-b-color);
  border-bottom: var(--grid-b-pix) solid var(--grid-b-color);
}

.col:nth-child(4) {
  border-right: var(--grid-b-pix) solid var(--grid-b-color);
  border-top: var(--grid-b-pix) solid var(--grid-b-color);
  border-bottom: var(--grid-b-pix) solid var(--grid-b-color);
}

.col:nth-child(5) {
  border: var(--grid-b-pix) solid var(--grid-b-color);
}

.col:nth-child(6) {
  border-left: var(--grid-b-pix) solid var(--grid-b-color);
  border-top: var(--grid-b-pix) solid var(--grid-b-color);
  border-bottom: var(--grid-b-pix) solid var(--grid-b-color);
}

.col:nth-child(7) {
  border-right: var(--grid-b-pix) solid var(--grid-b-color);
  border-top: var(--grid-b-pix) solid var(--grid-b-color);
}

.col:nth-child(8) {
  border-left: var(--grid-b-pix) solid var(--grid-b-color);
  border-right: var(--grid-b-pix) solid var(--grid-b-color);
  border-top: var(--grid-b-pix) solid var(--grid-b-color);
}

.col:nth-child(9) {
  border-left: var(--grid-b-pix) solid var(--grid-b-color);
  border-top: var(--grid-b-pix) solid var(--grid-b-color);
}

#lblWon {
  font-size: x-large;
  font-weight: 500;
  font-style: oblique;
  font-variant: small-caps;
}
